/**
 *
 * 	 Fonts
 *
 *
 **/

@font-face {
  font-family: partybusiness;
  src: url(assets/partybusiness/partybusiness.ttf);
}

@font-face {
  font-family: aniron;
  src: url("assets/pete-klassen_aniron/anirm___.ttf");
}

@font-face {
  font-family: symbol;
  src: url("assets/tengwar/tnganbi.ttf");
}

/**
 *
 * 	Main params
 *
 **/

* {
  font-family: partybusiness;
  font-size: 2.5vmin;
  max-width: 1920px;
  margin: auto;
}

.container-fluid {
  padding: 0;
}

h2 {
  font-family: aniron;
  font-size: 3vmin;
  padding-top: 0;
  padding-left: 3vw;
}

h3 {
  font-family: aniron;
  font-size: 1vw;
}

h2::before, h2::after {
  content: "ij";
  color: #F7530D;
  font-family: symbol;
  position: relative;
}

.navbar, footer {
  background-color: #F7530D;
}

/** background and font colors **/

#reward, #about_ring, #contact_us {
  background-image: url("assets/bg_dark.png");
  background-repeat: repeat;
}

#reward h2, #about_ring h2, #contact_us h2 {
  color: white;
}

#fellows, #best_hunters {
  background-image: url("assets/bg_light.png");
  background-repeat: repeat;
}

u {
  color: black;
  font-size: 1.5vmin;
}
/** specific colors **/

.panel-heading {
  background-color: #F7530D;
  color: white;
}

.orange {
  color: #F7530D;
}

h2 small {
  color: black;
}

/** color and weight of the horizontale rule **/

hr {
  background-color: #F7530D;
  color: #F7530D;
  height: 0.2vw;
  width: 50%;
  margin: 0 auto;
  padding: 0;
}

/** button **/

.btn {
  box-shadow: 2px 2px 3px;
  box-radius: 0px;
  margin: 2vmin;
}

/**
 *
 * 	Navbar
 *
 **/
 .navbar {
   margin: 0 0 0 0;
   padding: 0.5vw 20px;
   border: 0;
 }

.navbar-header {
  margin: 0;
}

#menu .active a {
  background: none;
  text-decoration: underline;
}

#menu .navbar-text, #menu li a {
  color: white;
  font-family: aniron;
  font-size: 1vw;
}

/**
 *
 * 	Carousel
 *
 **/

#slider .item img {
  margin: 0;
}

.carousel-caption {
  display: relative;
  top: 50%;
}

.carousel-caption h3, .carousel-caption p {
  font-family: partybusiness;
}

.carousel-caption h3 {
  font-size: 5vw;
}

.carousel-caption p {
  display: inline;
  font-size: 3vw;
}

.initiales {
  padding-left: 8vmin;
  text-align: right;
}

.initiales::before {
  content: " - ";
}

.slider-control {
  font-family: aniron;
  font-size: 25vw;
}

/**
 *
 * 	Fellows Section
 *
 **/

/** center the wanted select pill **/

.nav-center {
  text-align: center;
}

.nav-center ul.nav {
  display: inline-block;
}

.nav-center ul.nav li {
  display: inline;
}

.nav-center ul.nav li a {
  float: left;
}

ul#wanted-select li a {
  color: grey;
}

/** modified button of the wanted list **/

#wanted-select .active a {
  background: none;
  color: #F7530D;
  border-radius: none;
  text-decoration: underline;
}

#wanted-select .active a::before, #wanted-select .active a::after {
  content: " w ";
  color: #F7530D;
  font-family: partybusiness;
}

/** thumbnail of Gandalf, Aragon and gimli **/

.thumbnail {
  background-color: #000000;
  position: relative;
}

.thumbnail img {
  opacity: 0.7;
  width-max: 372px ;
  height-max: 326px;
}

.thumbnail:hover img {
  opacity: 1;
}

/** set the position of the wanted man's legende **/

.image {
  position: relative;
}

.image .legende {
  position: absolute;
  width: 20vmin;

  top: 15%;
  margin: 0 20%;
  font-size: 3vmin;
}

.alive {
  color: black;
  background-color: white;
  border-radius: 5px;
  opacity: 0.5;
  box-shadow: inset 5 5px 5px white;
}

/** set the name of the wanted man **/

.thumbnail .name {
  position: absolute;
  text-align: center;
  width: 100%;
  color: white;
  top: 50%;
  left: 0px;
  font-size: 5vmin;
}

.thumbnail:hover .name {
  font-size: 2vmin;
  transform: translate(0, 5vw);
}

#dead_man {
  font-size: 6vmin;
}

.thumbnail .legende p {
  opacity: 1;
}

.thumbnail:hover .legende {
  display: none;
}

/** set the caption of the wanted man **/

.thumbnail .caption p {
  color: white;
}

/**
 *
 * 	Reward
 *
 **/

#reward h2, #reward p {
  color: white;
}

#reward p {
  text-align: justify;
  padding: 2%;
}

/**
 *
 *
 *	Best Hunters
 *
 *
 **/
 .media-body h3 {
   color: #F7530D;
   font-family: partybusiness;
   font-size: 4vmin;
 }

 .media-body p, .media-body u {
   font-size: 3vmin;
 }

/**
*
* Contact Us
*
**/

#map {
  width-max: 777px;
  height-max: 606px;

}

/**
*
* footer
*
**/
footer a {
  color: white;
  font-family: aniron;
  font-size: 2vmin;
}
